function alias_value() {
    (( $+aliases[$1] )) && echo $aliases[$1]
}

function try_alias_value() {
    alias_value "$1" || echo "$1"
}

alias c="clear"
alias x="exit"
alias r="source ~/.zshrc"

alias cd -="cd -"
alias md='mkdir -p'
alias rd=rmdir

alias sites="cd ~/Sites/"
alias projects="cd ~/projects"

alias pip=pip3
alias python=/usr/local/bin/python3

alias bci="brew cask install"

# List directory contents
alias lsa='ls -lah'
alias l='ls -lah'
alias ll='ls -lh'
alias la='ls -lAh'

# Run ls after cd
function cd { builtin cd "$@" && ls }

# Git Aliases

alias gs="git status"
alias ga="git add"
alias gaa="git add -A"
alias gc="git commit -m"
alias gpo="git push origin"
alias gb="git branch"

alias azdev="npx @azure/static-web-apps-cli start"

# Created this to list stray localhost and kill them
alias klh="sudo lsof -i"
alias kh="kill -9"

alias sites="cd ~/Sites/"
alias projects="cd ~/Projects/"
alias dotfiles="cd ~/dotfiles/"


# New alias to open projects folder in VS Code
alias vsc="code ."